@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --text-quaternary: #cdcdcd;
}

textarea:focus {
  border-color: inherit;
  box-shadow: none;
  outline: none
}

::-webkit-scrollbar {
  height: 1rem;
  width: .5rem
}

::-webkit-scrollbar:horizontal {
  height: .5rem;
  width: 1rem
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: hsla(0,0%,89%,.8);
  border-color: rgba(255,255,255,var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px
}

::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(227,227,227,var(--tw-bg-opacity))
}

.icon-md {
  stroke-width: 1.5;
}

.icon-md,.icon-md-heavy {
  flex-shrink: 0;
  height: 18px;
  width: 18px
}
.icon-sm,.icon-sm-heavy {
  flex-shrink: 0;
  height: 1rem;
  width: 1rem
}

